.contact-content{  
    height: 100vh;
    margin-top: 32px;
    padding: 9px; 
    position: relative; 
    overflow: hidden;
  }
  
  .contact-content::after {
    content: "";
    background-image: url("../img/back.avif");
    position: absolute;
    top:0;
    width: 100%; 
    height: inherit;
    background-size: cover;
    z-index: -1;
  }
 